<div style="font-family: arial;">
	<p><b>Dear Mr. {{ name }}</b></p>
	
	<p>You have requested your password reset at Renz Hotel at {{ date }}</p>
	
	<p>If it was not you who performed the above action, please contact Renz Hotel by filling up the form at Renz Hotel Website.</p>
	
	<p>Please click link below or copy paste it in your browser address bar to reset your password..</p>
	
	<p>
		<b>LINK:</b><br />
		<a href="https://www.renz.com.sa/en/security/forgot-password-reset/{{ resetcode }}" target="_blank">
			https://www.renz.com.sa/en/security/forgot-password-reset/{{ resetcode }}
		</a>
	</p>
	<p>-</p>
	<p>
		<b>Have a nice day!</b>
		<br />
		Renz Hotel
	</p>
</div>
<hr style="border:none;color:#909090;background-color:#b0b0b0;min-height:1px;width:99%; margin-top:25px;">

<table style="border-collapse:collapse;border:none">
<tbody>
	<tr>
		<td style="border:none;padding:0px 15px 0px 8px">
			<a href="https://www.renz.com.sa" target="_blank">
				<img border="0" src="https://renz.com.sa/bundles/main/images/logo.png" style="width:100px;">
			</a>
		</td>
		<td>
			<p style="color:#3d4d5a;font-family:&quot;Calibri&quot;,&quot;Verdana&quot;,&quot;Arial&quot;,&quot;Helvetica&quot;;font-size:12pt">
				This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system.
			</p>
		</td>
	</tr>
</tbody>
</table>