{% extends '::base.html.twig' %}

{% block content %}

<style>
	.error{color:red;}
</style>

<script>
$(function (){
	$('#bookingform').validate({
		rules: {
			'new-password': {
			   required: true,
			},
			'confirm-new-password': {
			     required: true,
			     equalTo: "#new-password",
			},
		},
	});
});
</script>

<!-- Parallax Effect -->
<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>

<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url({{ asset('bundles/main/images/parallax/parallax-01.jpg') }});">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="{{ path('renz_main_index_index') }}">Home</a></li>
              <li class="active">Reset Password</li>
            </ol>
            <h1>Reset Password</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row"> 
    
      <div class="col-sm-12">
      	<div class="col-md-6 col-md-offset-3">
      		
      		<br /><br /><br />
      		
			<form class="reservation-vertical clearfix" role="form" method="post" action="{{ path('renz_main_security_forgotpasswordreset', {'resetcode': resetcode}) }}" id="bookingform">
	          <div class="form-group">
	            <label for="email" accesskey="E">New Password:</label>
	            <input name="new-password" type="password" id="new-password" class="form-control" />
	          </div>
	          <div class="form-group">
	          	<label for="email" accesskey="E">Confirm New Password:</label>
	            <input name="confirm-new-password" type="password" id="confirm-new-password" class="form-control" />
	          </div>
	          <input type="hidden" name="postedresetcode" value="{{ resetcode }}" />
	          <button type="submit" class="btn btn-primary">Reset Password</button>
	        </form>
	        
      	</div>
      </div>
    
  </div>
</div>

{% endblock %}