<html>
<head>
	<title>Reservation Notification</title>
</head>
<body>
	<div id="mydiv">
		
		<h3>Dear Mr. {{ name }},</h3>
		<br />
		<p>Thank You..</p>
		<br />
		<p>Your reservation was recieved, it will be checked soon..</p>
		<p>Once checked a confirmation e-mail will be generated to your email address..</p>
		<br />
		<p><b>Your booking Reference number:</b> {{ reference }}</p>
		<br />
		<p>For further information, please visit <a href="www.renz.com.sa">www.renz.com.sa</a>.</p>
		<br />
		<hr />
		<p>Renz Hotel</p>
		<p>Jeddah, Saudi Arabia</p>
		
	</div>
</body>
</html>