
    <h1>Facility creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('renz_admin_facility_index') }}">
            Back to the list
        </a>
    </li>
</ul>
