<html>
<head>
	<title>Your Reservation at Renz Hotel</title>
</head>
<body>
	<div id="mydiv">
		
		<h3>Dear Mr.{{ firstname }} {{ lastname }},</h3>
		<br />
		<p>This is to inform you that,</p>
		<p>Your reservation at <b>Renz Hotel</b> has been cancelled..</p>
		<br />
		<p>For further information, please visit http://www.renz.com.sa</p>
		<br />
		<hr />
		<p>Renz Hotel</p>
		<p>Jeddah, Saudi Arabia</p>
	
	</div>

</body>
</html>